---
import Main from '../layouts/Main.astro';

import { Picture } from '@astrojs/image/components';
import logo from '../images/todds-bistro-logo.png';
---

<Main title="Todd's Bistro">
<div class="flex flex-row">
  <div class="basis-2/12">
  </div>
  <div class="basis-8/12">
    <div class="flex flex-col">
      <Picture src={logo} widths={[1500]} />
    </div>
  </div>
  <div class="basis-2/12">
  </div>
</div>
</Main>
