---
---
<div class="flex items-center w-80 border rounded border-outer-space">
  <input class="flex-1 border-none p-2 text-base" 
    type="text" placeholder="Search..." />
  <button class="border-none p-2 bg-ghost-white 
    cursor-pointer hover:bg-bright-gray" type="submit">
    <i class="bi bi-search"></i>
  </button>
</div>
