---
const { title } = Astro.props;
import '../styles/main.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, 
      initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-row">
      <div class="lg:basis-2/12">
      </div>

      <div class="basis-12/12 lg:basis-8/12 lg:border-2 lg:outline
      lg:p-8 border-outer-space outline-4 outline-outer-space 
      outline-offset-inset flex flex-col">
        <slot />
      </div>

      <div class="lg:basis-2/12">
      </div>
    </div>
  </body>
</html>
